# Data Structures

There are 4 Types of Data Structures in Python:

1. TUPLE
2. LIST
3. DICTIONARY
4. SET

# TUPLE

- Tuple is an immutable Data Structure, we cannot modify it.
- Tuple can store hetrogeneous data. (Various Data Types).
- Tuple is enclosed with ().
- Tuple is an ordered collection of elements.

In [8]:
a = (12,5.5,False,7-2j,'Hello')

In [9]:
a

(12, 5.5, False, (7-2j), 'Hello')

In [10]:
type(a)

tuple

In [12]:
# Indexing with Tuple (Extract specific element)

a[3]

(7-2j)

In [15]:
# Trying to Modify the data inside a TUPLE.

a[3]==7-2j

True

In [16]:
a[3] = 6-2j

TypeError: 'tuple' object does not support item assignment

- Thats why tuple is an Immutable Data Structure. It won't allow us to change the data.

- Because of this there are very limted options that we can use with TUPLE.

In [17]:
# Min and Max. (They will work with Similar Data Types)

a

(12, 5.5, False, (7-2j), 'Hello')

In [18]:
a = (34,22,12,65,1,265)

In [19]:
a

(34, 22, 12, 65, 1, 265)

In [20]:
min(a)

1

In [21]:
max(a)

265

In [22]:
sum(a)

399

In [24]:
sorted(a)

[1, 12, 22, 34, 65, 265]

In [25]:
a = ('V','K','M','A','C')

In [26]:
a

('V', 'K', 'M', 'A', 'C')

In [27]:
sorted(a)

['A', 'C', 'K', 'M', 'V']

In [28]:
min(a)

'A'

In [29]:
max(a)

'V'

# LIST

- List is an Mutable Data Structure.
- List is an Ordered collection of Elements.
- List is enclosed with [].
- It can store Hetrogeneous data types.

- List is an Mutable Data Structure, and that makes is widely used.

In [30]:
a = [1.1,45,'Hello',9+3j,True]

In [31]:
a

[1.1, 45, 'Hello', (9+3j), True]

In [32]:
type(a)

list

In [33]:
# Indexing with List

a[2]

'Hello'

In [35]:
a[2]=='Hello'

True

In [36]:
a[2] = 'Amit'

In [37]:
a

[1.1, 45, 'Amit', (9+3j), True]

- That's why list is mutable, we can change the data accordingly.

In [39]:
# Data Insertion (How to add data in a LIST).

# There are three methods in List to add data.

# Append  --->>> It will take onlt one argument not second

a.append('Chirag')

In [40]:
a

[1.1, 45, 'Amit', (9+3j), True, 'Chirag']

In [43]:
a.append('Sanchit')

In [44]:
a

[1.1, 45, 'Amit', (9+3j), True, 'Chirag', 'Sanchit']

In [48]:
# What if we need to store the data at specific Position.
#insert - it will take 2 arguments (1. Index Number, 2. Data to add)

a.insert(2,'Sunil')

TypeError: insert expected 2 arguments, got 3

In [47]:
a

[1.1, 45, 'Sunil', 'Amit', (9+3j), True, 'Chirag', 'Sanchit']

In [50]:
# We want to add 3 more students (atul,ashish and aman) in one go.

a.append(['atul','ashish','aman'])

In [51]:
a

[1.1,
 45,
 'Sunil',
 'Amit',
 (9+3j),
 True,
 'Chirag',
 'Sanchit',
 ['atul', 'ashish', 'aman']]

In [52]:
a[8]

['atul', 'ashish', 'aman']

In [53]:
a.extend(['atul','ashish','aman'])

In [54]:

a

[1.1,
 45,
 'Sunil',
 'Amit',
 (9+3j),
 True,
 'Chirag',
 'Sanchit',
 ['atul', 'ashish', 'aman'],
 'atul',
 'ashish',
 'aman']

In [55]:
a[9]

'atul'

In [56]:
a[10]

'ashish'

In [57]:
a[11]

'aman'

In [58]:
# Extend Limitation (It will add data in the end. We cannot assign the index number)

In [59]:
a

[1.1,
 45,
 'Sunil',
 'Amit',
 (9+3j),
 True,
 'Chirag',
 'Sanchit',
 ['atul', 'ashish', 'aman'],
 'atul',
 'ashish',
 'aman']

In [60]:
# How we can remove data from a LIST.
# Pop can run without an argument it will pick the data up from the end by default.

a.pop()

'aman'

In [61]:
a

[1.1,
 45,
 'Sunil',
 'Amit',
 (9+3j),
 True,
 'Chirag',
 'Sanchit',
 ['atul', 'ashish', 'aman'],
 'atul',
 'ashish']

In [62]:
# By default it will take no argument and pop the last element.
# It can also take 1 argument as well by its index number.

a.pop(2)

'Sunil'

In [66]:
a

[1.1,
 45,
 'Amit',
 (9+3j),
 True,
 'Chirag',
 'Sanchit',
 ['atul', 'ashish', 'aman'],
 'atul',
 'ashish']

In [68]:
# Remove method will take the data itseld as its argument.

a.remove(True)

In [69]:
a

[1.1,
 45,
 'Amit',
 (9+3j),
 'Chirag',
 'Sanchit',
 ['atul', 'ashish', 'aman'],
 'atul',
 'ashish']

In [70]:
# If we want to reverse the list

a.reverse()

In [71]:
a

['ashish',
 'atul',
 ['atul', 'ashish', 'aman'],
 'Sanchit',
 'Chirag',
 (9+3j),
 'Amit',
 45,
 1.1]

In [72]:
a.pop(2)

['atul', 'ashish', 'aman']

In [73]:
a

['ashish', 'atul', 'Sanchit', 'Chirag', (9+3j), 'Amit', 45, 1.1]

In [74]:
# How to find the Index Number of any element.

a.index('Sanchit')

2

In [76]:
# Count will work on the data that is repeting itself.

data = ['Chirag','Amit','Chirag','Sanchit','Chirag']

In [77]:
data

['Chirag', 'Amit', 'Chirag', 'Sanchit', 'Chirag']

In [79]:
data.count('Chirag')

3

In [80]:
data

['Chirag', 'Amit', 'Chirag', 'Sanchit', 'Chirag']

In [82]:
# Sort will work in ascending order by defalut

data.sort()

In [83]:
data

['Amit', 'Chirag', 'Chirag', 'Chirag', 'Sanchit']

In [84]:
# For sorting in Descending order we need an argument named as reverse

data.sort(reverse=True)

In [85]:
data

['Sanchit', 'Chirag', 'Chirag', 'Chirag', 'Amit']

In [86]:
# Clear will delete all the data inside a list it will empty the list.

data.clear()

In [87]:
data

[]

# DICTIONARY

- Dictionary is an Pair of Keys and Values
- In Dictionary Keys are Immutable and Values are Mutable.
- NOTE: As we are able to add or remove the data from dictionary that make the whole data structure a MUTABLE DATA STRUCTURE.
- Dictionary is enclosed with {}. --- >>> Curly Brackets.
- It is an Unordered collection of elements.
- Keys and Values were seperated from : --- >>> Colons.

In [88]:
a = {'Name':'Chirag','Age':24,'Location':'Shalimar Bagh','Married':True}

In [89]:
a

{'Name': 'Chirag', 'Age': 24, 'Location': 'Shalimar Bagh', 'Married': True}

In [90]:
a.keys()

dict_keys(['Name', 'Age', 'Location', 'Married'])

In [91]:
a.values()

dict_values(['Chirag', 24, 'Shalimar Bagh', True])

In [92]:
# Dictionary is an Onrdered collection of elements.
# Number indexng won't work with this Data Structure.

# We can extract the values on the basis of their respective Keys.

a['Age']

24

In [93]:
# How we can mutate or Change the Values w.r.t Keys.

a['Age']= 31

In [94]:
a

{'Name': 'Chirag', 'Age': 31, 'Location': 'Shalimar Bagh', 'Married': True}

In [103]:
# How we can add data in a Dictionary.

# Way 1. 

a['Height']= 5.11

In [104]:
a

{'Name': 'Chirag',
 'Age': 31,
 'Location': 'Shalimar Bagh',
 'Married': True,
 'Height': 5.11}

In [108]:
# Way 2 to add data in a Dictionary

a.update({'Weight':65.11})

In [109]:
a

{'Name': 'Chirag',
 'Age': 31,
 'Location': 'Shalimar Bagh',
 'Married': True,
 'Height': 5.11,
 'Weight': 65.11}

In [110]:
# Passing Multiple Data in one argument..

a.update({'Hair':'Black','Size':8.5})

In [111]:
a

{'Name': 'Chirag',
 'Age': 31,
 'Location': 'Shalimar Bagh',
 'Married': True,
 'Height': 5.11,
 'Weight': 65.11,
 'Hair': 'Black',
 'Size': 8.5}

In [113]:
# How we can remove data from the Dictionary.

a.pop('Size')

8.5

In [114]:
a

{'Name': 'Chirag',
 'Age': 31,
 'Location': 'Shalimar Bagh',
 'Married': True,
 'Height': 5.11,
 'Weight': 65.11,
 'Hair': 'Black'}

In [115]:
# If we want to remove data from the last by default

a.popitem()

('Hair', 'Black')

In [117]:
a

{'Name': 'Chirag',
 'Age': 31,
 'Location': 'Shalimar Bagh',
 'Married': True,
 'Height': 5.11,
 'Weight': 65.11}

# SET

- Set is an unordered collection of elements.
- Set is enclosed with {}.
- It can store hetrogeneous Data Types
- Set doesn't allow DUPLICATES.

In [1]:
a = {10,3.3,'Hello',2-2j,True}

In [2]:
a

{(2-2j), 10, 3.3, 'Hello', True}

In [3]:
type(a)

set

- Set is ian Unordered collection of elements.
- As we provide the input the output will not be the same.

In [4]:
data = {10,19,'Hello','Amit',19,'Chirag',True,'Amit'}

In [5]:
data

{10, 19, 'Amit', 'Chirag', 'Hello', True}

In [6]:
data = {11,22,33,0,True,'Chirag','Amit',1,'Chirag',False,2-2j}

In [7]:
data

{(2-2j), 0, 11, 22, 33, 'Amit', 'Chirag', True}

In [8]:
a = {1,2,3,4,5}
b = {4,5,8,9,10}

In [9]:
a,b

({1, 2, 3, 4, 5}, {4, 5, 8, 9, 10})

In [10]:
a.union(b)

{1, 2, 3, 4, 5, 8, 9, 10}

In [11]:
a.intersection(b)

{4, 5}

In [12]:
a = ('hi','hello','amit'

In [13]:
a

(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'reverse'